
    
        <div class="forms-container">
            <div class="signin-signup">
                <form action="" class="sign-in-form">
                    <h2 class="title">
                        Đăng nhập
                    </h2>
                    <div class="input-field">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <input type="text" placeholder="Tên tài khoản">
                    </div>
                    <div class="input-field">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <input type="password" placeholder="Mật khẩu" name="value">
                    </div>
                    <button type="submit" class="btn solid">Đăng nhập</button>

                    <p class="social-text">đăng nhập bằng phương bằng tài khoản bằng nền tảng khác</p>
                    <div class="social-media">
                        <a href="" class="social-icon">
                            <img
                                src="https://img.icons8.com/external-justicon-lineal-color-justicon/64/000000/external-facebook-social-media-justicon-lineal-color-justicon.png" />
                            <a href="" class="social-icon"><img
                                    src="https://img.icons8.com/stickers/100/000000/google-plus-squared.png" /></a>
                            <a href="" class="social-icon"><img
                                    src="https://img.icons8.com/plasticine/100/000000/instagram-new--v2.png" /></a>
                    </div>
                </form>

                <form action="" class="sign-up-form">
                    <h2 class="title">
                        Đăng ký
                    </h2>
                    <div class="input-field">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <input type="text" placeholder="Họ và tên">
                    </div>
                    <div class="input-field">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <input type="text" placeholder="Email" name="value">
                    </div>
                    <div class="input-field">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <input type="text" placeholder="Số điện thoại" name="value">
                    </div>

                    <div class="input-field">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <input type="password" placeholder="Mật khẩu" name="value">
                    </div>

                    <div class="input-field">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <input type="password" placeholder="Nhập lại mật khẩu" name="value">
                    </div>
                    <button type="submit" class="btn solid">Đăng ký</button>

                    <p class="social-text">đăng nhập ký phương bằng tài khoản bằng nền tảng khác</p>
                    <div class="social-media">
                        <a href="" class="social-icon">
                            <img
                                src="https://img.icons8.com/external-justicon-lineal-color-justicon/64/000000/external-facebook-social-media-justicon-lineal-color-justicon.png" />
                            <a href="" class="social-icon"><img
                                    src="https://img.icons8.com/stickers/100/000000/google-plus-squared.png" /></a>
                            <a href="" class="social-icon"><img
                                    src="https://img.icons8.com/plasticine/100/000000/instagram-new--v2.png" /></a>
                    </div>
                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>
                        Có gì mới ở đây ?
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, earum.</p>
                    <button class="btn transparent" id="sign-up-btn"> Đăng ký</button>
                </div>

                <img src="undraw_social_thinking_re_y8cc.svg" class="image" alt="">
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>
                        Một trong số chúng tôi ?
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, earum.</p>
                    <button class="btn transparent" id="sign-in-btn"> Đăng nhập</button>
                </div>
                <img src="undraw_empty_cart_co35.svg" class="image" alt="">
            </div>
        </div>
